.product{
    display: flex;
    margin-right: 10px;
    margin-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;

}
.main-button{
    background-color: goldenrod;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border:1px solid yellowgreen;
}